.container{
  width: $md-width;
  margin: auto;

  .title{
    width: 500px;
    margin: auto;
    color: $red;
    text-align: center;
    background: url('../../../public/assets/images/page-acceuil/SurlignementAvantages.png') no-repeat center;
    height: 50px;
    margin-bottom: 50px;
    font-size: $font-size-6;
  }
  
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .card{
      text-align: center;

      img{
        max-height: 150px;
        margin-bottom: 15px;
        align-self: center;
        object-fit: contain;
      }


      .containerCard{
        height: 271px;
        width: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        background: url('../../../public/assets/images/page-acceuil/CarréJaune.png');
        padding: 0 30px 30px;

        .titleCard{
          color: $red;
          font-size: $font-size-6;
          margin: 0;
        }
      }
    }

    .cardMiddle{
      .containerCard {
        margin-bottom: 0;
       margin-top: -40px;
      }
   
      img{
        z-index: 99;
      }
    }
  }

  @include below-md{
    width: 100%;
  }
}