$xs-width: 360px;
$sm-width: 700px;
$md-width: 1240px;
$lg-width: 1440px;
$is-not-13-inches: true;

@mixin on-13-inches {
  @media only screen and (min-width: 740px) and (max-width: 1450px) {
    @content;
  }
}

@mixin below($maxWidth) { @media (max-width: $maxWidth) { @content; } }

@mixin below-xs {
  @media (max-width: $xs-width) {
    @content;
  }
}

@mixin below-sm {
  @media (max-width: $sm-width) {
    $is-not-13-inches: true;

    @if $is-not-13-inches {
      @content;
    }
  }

  @include on-13-inches {
    @media (max-width: calc($sm-width * 0.8)) {
      $is-not-13-inches: false;
      @content;
    }
  }
}

@mixin below-md {
  @include on-13-inches {
    @media (max-width: calc($md-width * 0.8)) {
      $is-not-13-inches: false;
      @content;
    }
  }

  @media (max-width: $md-width) {
    $is-not-13-inches: true;

    @if $is-not-13-inches {
      @content;
    }
  }
}

@mixin below-lg {
  @include on-13-inches {
    @media (max-width: calc($lg-width * 0.8)) {
      $is-not-13-inches: false;
      @content;
    }
  }

  @media (max-width: $lg-width) {
    $is-not-13-inches: true;

    @if $is-not-13-inches {
      @content;
    }
  }
}

@mixin above($minWidth) { @media (min-width: $minWidth) { @content; } }

@mixin above-xs {
  @media (min-width: $xs-width) {
    @content;
  }
}

@mixin above-sm {
  @media (min-width: $sm-width) {
    @content;
  }
}

@mixin above-md {
  @media (min-width: $md-width) {
    @content;
  }
}

@mixin above-lg {
  @media (min-width: $lg-width) {
    @content;
  }
}
