@font-face {
  font-family: rubik-bold;
  src: url('../public/assets/fonts/Rubik-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: rubik-regular;
  src: url('../public/assets/fonts/Rubik-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: rubik-light-italic;
  src: url('../public/assets/fonts/Rubik-LightItalic.ttf');
  font-display: swap;
}

@font-face {
  font-family: rubik-medium;
  src: url('../public/assets/fonts/Rubik-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: courgette-regular;
  src: url('../public/assets/fonts/Courgette-Regular.ttf');
  font-display: swap;
}
